/*$color1: rgba(108, 242, 212, 1);
$color2: rgba(35, 240, 199, 1);
$color3: rgba(75, 177, 160, 1);
$color4: rgba(21, 158, 129, 1);
$color5: rgba(15, 112, 94, 1);*/

body {
  margin: 0
}

h1, h2, h3, h4 {
  font-family: Montserrat;
  font-weight: 300;
}

h2 {
  color: rgba(15, 112, 94, 1);
  padding-bottom: 10px;
  width: 50%;
  font-size: 35px;
  border-bottom: 2px solid rgba(250, 130, 123, 1);
  ;
  position: relative;
  margin-bottom: 55px;
}

h2::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid rgba(250, 130, 123, 1);
  top: 102%;
  left: 0;
}

h3 {
  font-size: 24px;
  position: relative;
  margin-bottom: 55px;
  margin-top: 0;
  /*font-weight: lighter;*/
}

h3:before {
  position: absolute;
  content: '';
  background-color: rgba(250, 130, 123, 1);
  width: 2px;
  height: 42px;
  bottom: -46px;
  transform: rotate(45deg);
  left: 48%;
  transition: transform 0.4s ease-out;
}

h3:after {
  position: absolute;
  content: '';
  background-color: rgba(35, 135, 120, 1);
  width: 20px;
  height: 20px;
  bottom: -35px;
  left: 45%;
  border-radius: 10px;
  z-index: -1;
  transition: transform 0.4s ease-out;
}

p {
  font-family: Open Sans;
  font-size: 16px;
}

.margin-tb {
  margin: 25px 0;
}

.margin-t {
  margin: 25px 0 0;
}

.margin-b {
  margin: 0 0 25px;
}

.header-content #desktop-menu, .header-content #mobile-menu {
  font-family: Open Sans;
  position: fixed;
  top: 0;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.header-content #desktop-menu li {
  display: inline-block;
  color: white;
  margin-right: 35px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.1.5s ease;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}

.header-content #desktop-menu li:hover {
  transform: translateY(-2px) scale(1.02);
}

.header-content #desktop-menu .active {
  border-bottom: 3px solid rgba(250, 130, 123, 1);
  padding-bottom: 5px;
}

.header-content #desktop-menu a {
  color: white;
}

/*MOBILE MENU*/
.header-content #mobile-menu{
  left: 0;
  right: 0;
  padding-top: 28px;
  padding-bottom: 25px;
  text-align: center;
  color: white;
}

.header-content #mobile-menu #custom-menu-icon{
  height: 3px;
  width: 30px;
  background: white;
  margin: 0 0 0 24px;
  position: relative;
  /*-webkit-animation: secondBarAnimation 2s linear infinite;
  -moz-animation: secondBarAnimation 2s linear infinite;
  animation: secondBarAnimation 2s linear infinite;*/
}

.header-content #mobile-menu #custom-menu-icon::before{
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  top: -10px;
  left: 0;
  background: white;

  -webkit-animation: firstBarAnimation 2s linear infinite;
  -moz-animation: firstBarAnimation 2s linear infinite;
  animation: firstBarAnimation 2s linear infinite;
}

.header-content #mobile-menu #custom-menu-icon::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  top: 10px;
  left: 0;
  transition: all 0.25s ease-in;
  background: white;
  -webkit-animation: thirdBarAnimation 2s linear infinite;
  -moz-animation: thirdBarAnimation 2s linear infinite;
  animation: thirdBarAnimation 2s linear infinite;
}

/*FIRST MENU BAR ANIMATION*/
@-webkit-keyframes firstBarAnimation {
    0%{width: 40px}
    50%{width: 20px}
    100%{width: 40px}
}
@-moz-keyframes firstBarAnimation {
    0%{width: 40px}
    50%{width: 20px}
    100%{width: 40px}
}
@keyframes firstBarAnimation {
    0%{width: 40px}
    50%{width: 20px}
    100%{width: 40px}
}

/*SECOND MENU BAR ANIMATION*/
/*@-webkit-keyframes secondBarAnimation {
    0%{width: 30px}
    50%{width: 40px}
    100%{width: 30px}
}
@-moz-keyframes secondBarAnimation {
    0%{width: 30px}
    50%{width: 40px}
    100%{width: 30px}
}
@keyframes secondBarAnimation {
    0%{width: 30px}
    50%{width: 40px}
    100%{width: 30px}
}*/

/*THIRD MENU BAR ANIMATION*/
@-webkit-keyframes thirdBarAnimation {
    0%{width: 20px}
    50%{width: 40px}
    100%{width: 20px}
}
@-moz-keyframes thirdBarAnimation {
    0%{width: 20px}
    50%{width: 40px}
    100%{width: 20px}
}
@keyframes thirdBarAnimation {
    0%{width: 20px}
    50%{width: 40px}
    100%{width: 20px}
}

.header-content #mobile-menu.open #custom-menu-icon{
  width: 40px;
  transform: rotate(45deg);
  transition: all 0.25s ease-in;
}

.header-content #mobile-menu.open #custom-menu-icon::before{
  animation: none;
  transform: rotate(90deg);
  top: 0;
}
.header-content #mobile-menu.open #custom-menu-icon::after{display: none;}

.header-content #mobile-menu .mobile-menu-content{
  position: fixed;
  top: 60px;
  left: -100%;
  bottom: 0;
  right: 100%;
  opacity: 0;
  transition: all 0.375s cubic-bezier(0.4, 0, 1, 1);
  padding:0 20px;
  text-align: left;
}

.header-content #mobile-menu.open .mobile-menu-content{
  left: 0;
  right: 0;
  opacity: 1;
}

.header-content #mobile-menu .mobile-menu-content li{
  margin-bottom: 20px;
}

.header-content #mobile-menu .mobile-menu-content li .nav-list-item{
  font-size: 45px;
  color: white;
  border-left: 3px solid  rgba(250, 130, 123, 1);
  transition: all 0.15s ease-in;
  padding: 0 15px;
  display: block;
}

.header-content #mobile-menu .mobile-menu-content li .nav-list-item:focus{
  border-bottom: 3px solid rgba(250, 130, 123, 1);
}



#mobile-menu{display: none;}

#nav-background {
  height: 60px;
  background: linear-gradient(30deg, rgba(15, 112, 94, 1) 20%, rgba(108, 242, 212, 1) 75%, #00FACA 95%);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  opacity: 0;
}

header {
  position: relative;
}

.slanted-header {
  background: linear-gradient(30deg, rgba(15, 112, 94, 1) 20%, rgba(108, 242, 212, 1) 75%, #00FACA 95%);
  transform-origin: 0;
  height: 55vh;
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*HEADER SHAPES*/
.slanted-header span:nth-child(1) {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 62%;
  left: 10%;
  background: rgba(108, 242, 212, 1);
  transform: rotate(45deg);
}

.slanted-header span:nth-child(1)::after {
  position: absolute;
  content: '';
  height: 60px;
  width: 2px;
  transform: rotate(45deg);
  background: rgba(33, 158, 146, 1);
}

.slanted-header span:nth-child(2) {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 40px solid rgba(250, 130, 123, 1);
  top: 70%;
  left: 60%;
}

.slanted-header span:nth-child(3) {
  position: absolute;
  width: 100px;
  height: 8%;
  top: 15%;
  left: 0;
  background: rgba(250, 130, 123, 1);
  transform: skewY(30deg);
}

.slanted-header span:nth-child(4) {
  position: absolute;
  width: 25%;
  height: 15%;
  bottom: 0.2%;
  left: 0%;
  background: rgba(33, 158, 146, 1);
  transform: skew(-45deg);
}

.slanted-header span:nth-child(5) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10%;
  left: 85%;
  background: rgba(35, 165, 135, 1);
  border-radius: 20px;
}

.slanted-header span:nth-child(5)::after {
  position: absolute;
  content: '';
  height: 70px;
  width: 3px;
  top: -14px;
  transform: rotate(45deg);
  background: rgba(250, 130, 123, 1);
  left: 18px;
}

.slanted-header span:nth-child(6) {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15%;
  left: 40%;
  background: rgba(35, 165, 135, 1);
}

.slanted-header span:nth-child(6)::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 70%;
  left: 90%;
  background: rgba(250, 130, 123, 1);
}

.slanted-header span:nth-child(7) {
  position: absolute;
  width: 25px;
  height: 45px;
  bottom: 0;
  left: 88%;
  background: rgba(108, 242, 212, 1);
}

.slanted-header span:nth-child(7)::before {
  position: absolute;
  content: '';
  width: 55px;
  height: 2px;
  bottom: 110%;
  left: -59%;
  transform: rotate(90deg);
  background: rgba(250, 130, 123, 1);
}

.header-content {
  z-index: 1;
  max-width: 90%;
}

.header-content h1 {
  color: white;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 50px;
  margin: 10px 0 20px
}

.header-content p {
  font-family: Open Sans;
  color: white;
  max-width: 900px;
  margin: 10px 0 25px;
}

.normal-button {
  font-size: 14px;
  text-transform: uppercase;
  background: white;
  border: none;
  margin: 0 15px 0 0;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  font-family: Open Sans;
  letter-spacing: 0.05em;
  color: rgba(33, 158, 146, 1);
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  transition: all .25s ease;
  cursor: pointer;
}

.normal-button:focus {
  outline: none;
  background-color: white;
  color: rgba(33, 158, 146, 1);
}

.normal-button:hover {
  box-shadow: 0 9px 15px rgba(50, 50, 93, .1), 0 5px 7px rgba(0, 0, 0, .08);
  transform: translateY(-2px);
}

.special-button {
  background: rgba(250, 130, 123, 1);
  color: white;
}

.special-button:focus {
  background: rgba(250, 130, 123, 1);
  color: white;
}

.section-divider {
  width: 100%;
  height: 3px;
  background: rgba(15, 112, 94, 0.65);
  /*background: linear-gradient(30deg, #00FACA 5%, rgba(15, 112, 94, 1) 20%, rgba(108, 242, 212, 1) 75%, rgba(250, 130, 123, 1) 90%);*/
}


/*.portfolio-section{
  cursor: pointer;
}

.portfolio-section:hover h3::before, .portfolio-section:hover h3::after{
  transform: rotate(225deg) scale(1.2);
}*/

#profile-section img {
  width: 100%;
  border-radius: 1420px;
  max-width: 230px;
}

#profile-section ul, .footer ul {
  display: flex;
  justify-content: center;
}

#profile-section li, .footer li {
  padding: 0 35px;
}

#profile-section li i, .footer li i {
  color: rgba(15, 112, 94, 1);
  transition: all 0.25s ease;
}

#profile-section li i:hover, .footer li i:hover {
  color: rgba(250, 130, 123, 1);
  transform: scale(1.05);
}

.footer {
  background: linear-gradient(30deg, rgba(15, 112, 94, 1) 20%, rgba(108, 242, 212, 1) 75%, #00FACA 95%);
}

.footer .row {
  margin-bottom: 0;
}

.footer li i {
  color: white;
}

i.fa {
  cursor: pointer;
}


/*FORM STYLES*/

.input-field input, .input-field textarea {
  color: #26a69a;
}


/* valid color */

.input-field input[type=email].valid {
  border-bottom: 1px solid #26a69a;
  box-shadow: 0 1px 0 0 #26a69a;
}



.portfolio-card{
  position: relative;
  border-radius: 4px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.portfolio-card:hover{
  transform: scale(1.04);
}

.portfolio-card::before{
  position: absolute;
  transition: all 0.5s ease;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
  bottom: 5px;
  background: rgba(15, 112, 94, 0.75);
}

.portfolio-card:hover:before{
  background: rgba(15, 112, 94, 0.5);
}

.portfolio-card:hover:after{
  opacity: 0;
}

.portfolio-card::after{
  position: absolute;
  transition: all 0.5s ease;
  content: '';
  top: 0;
  right: 0;
  left: 0;
  border-radius: 4px;
  bottom: 5px;
  width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cstyle%3Eline %7B stroke-width: 0.25px%3B stroke: %23ffffff%3B %7D%3C/style%3E%3Cline x1='0' y1='0' x2='100' y2='100' /%3E%3Cline x1='100' y1='0' x2='0' y2='100' /%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	opacity: 0.3;
}

.portfolio-card img{
  width: 100%;
  height: auto;
  border-radius: 4px
}

.portfolio-card-content{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}


.portfolio-card-content h4{
  font-size: 26px;
  transition: all 0.35s ease;
  opacity: 1;
  color: white;
  position: relative;
}

.portfolio-card:hover .portfolio-card-content h4{
  opacity: 0
}

.portfolio-card-content span{
  position: relative;
}

.portfolio-card-content span::before{
  position: absolute;
  transition: all 0.6s ease;
  content: '';
  height: 2px;
  width: 100%;
  top: -10px;
  left: 0;
  background-color: rgba(250, 130, 123, 1);
}

.portfolio-card-content span::after{
  position: absolute;
  transition: all 0.6s ease;
  content: '';
  height: 2px;
  width: 100%;
  bottom: -10px;
  left: 0;
  background-color: rgba(250, 130, 123, 1);
}

.portfolio-card:hover .portfolio-card-content span::before{
    top: 50%;
    width: 35px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 3px;
}

.portfolio-card:hover .portfolio-card-content span::after{
  transform: rotate(90deg);
  width: 35px;
  left: 0;
  top: 53%;
  height: 3px;
  right: 0;
  margin: 0 auto;
}

.scroll-to-top{
  width: 45px;
  height: 45px;
  border-radius: 30px;
  background: rgba(15, 112, 94, 1);
  position: fixed;
  bottom: 30px;
  right: 50px;
  transition: all 0.3s ease-out;
  cursor: pointer;
  opacity: 0;
}

.scroll-to-top::before{
  position: absolute;
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid rgba(250, 130, 123, 1);
  top: 11px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
}

.scroll-to-top:hover{
  transform: translateY(-2px) scale(1.02)
}

.modal h4{
  text-align: center;
  color: rgba(15, 112, 94, 1);
  border-bottom: 2px solid rgba(250, 130, 123, 1);
  padding-bottom: 15px;
}

.modal h5{
  color: rgba(15, 112, 94, 1);
  font-size: 22px;
}

.modal li{
  border-left: 1px solid rgba(250, 130, 123, 1);
  margin: 0px 10px 0 0px;
  padding-left: 10px;
  display: inline-block;
}

.modal li.last{
  border-right: 1px solid rgba(250, 130, 123, 1);
  padding-right: 10px;
}

.modal .modal-footer{
  height: 70px;
}

.modal.modal-fixed-footer .modal-footer{
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.modal .modal-footer .normal-button{
  padding: 8px 25px;
  margin: 11px 10px 0;
  float: left;
}

.modal .modal-footer .modal-close{
  float: right;
  margin-right: 10px;
  margin-top: 13px;
}

.modal .modal-footer .modal-close i{
  font-size: 35px;
  color: rgba(15, 112, 94, 1);
}

/*MEDIA QUERYS*/
@media screen and (max-width:1200px) {
  .portfolio-card-content h4 {
    font-size: 22px;
  }
}

@media screen and (max-width:992px) {
  .portfolio-card-content h4 {
    font-size: 28px;
  }
  .portfolio-card{
    max-width: 500px;
    margin: 0 auto 20px;
  }

  .service-content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .service-content:last-child {
    margin-bottom: 15px;
  }

  .service-content h3{
    flex: 1 0 33%;
    margin: 0 55px 0 0;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .service-content h3:before{
    transform: rotate(0deg);
    right: -28px;
    bottom: 5px;
    left: auto;
  }

  .service-content h3:after{
    left: auto;
    right: -37px;
    bottom: 29%;
  }
  .scroll-to-top{
    right: 25px;
  }

}


@media screen and (max-width:767px) {
  #profile-section p{
    text-align: center;
  }
  #profile-section li, .footer li {
    padding: 0 20px;
  }
  .service-content h3{
    flex: 1 0 25%;
  }

}

@media screen and (max-width:750px) {
  .service-content {
    display: block;
    margin-bottom: 55px;
  }
  .service-content h3{
    margin: 0;
    min-height: 0;
  }

  .service-content p {
    margin: 10px 0;
  }

  .service-content h3:before {
    transform: rotate(90deg);
    right: auto;
    bottom: auto;
    left: auto;
    top: -55px;
    margin: 0 auto;
  }

  .service-content h3:after{
    bottom: auto;
    top: -44px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .service-content:first-child h3::before, .service-content:first-child h3::after{
    display: none;
  }
}

@media screen and (max-width:600px) and (min-width:501px) {
  .header-content h1{
    font-size: 38px;
  }
  .header-content p{
    font-size: 15px;
  }

  .slanted-header span:nth-child(3){
    top: 10%;
    left: -55px;
  }

  .slanted-header span:nth-child(1), .slanted-header span:nth-child(2){display: none;}
}

@media screen and (max-width:500px) {
  #mobile-menu{display: block;}
  #desktop-menu{display: none;}

  .header-content h1{
    font-size: 30px;
    margin-bottom: 12px;
  }

  .header-content p{
    font-size: 14px;
  }

  .header-content #desktop-menu ul{
    display: none;
  }

  .header-content .normal-button:first-child {
      margin-bottom: 10px;
  }

  .normal-button{
    padding: 10px 22px;
    font-size: 13px;
  }

  .slanted-header span:nth-child(1){
    top: 65%;
    left: 75%;
    background: rgba(108, 242, 212, 1);
    transform: rotate(90deg);
    height: 25px;
    width: 25px;
  }

  .slanted-header span:nth-child(1)::after{
    height: 50px;
  }

  .slanted-header span:nth-child(2){
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 35px solid rgba(250, 130, 123, 1);
    top: 85%;
    left: 85%;
  }

  .slanted-header span:nth-child(3){
    top: -2%;
    left: 25%;
  }

  .slanted-header span:nth-child(4){
    width: 40%;
    height: 12%;
  }

  .slanted-header span:nth-child(5){
    top: 5%;
  }

  .slanted-header span:nth-child(6){
    display: none;
  }

  .slanted-header span:nth-child(7){
    display: none;
  }

}


@media screen and (max-width:425px) {
  .portfolio-card-content h4 {
    font-size: 24px;
  }
}

@media screen and (max-width:350px) {
  .slanted-header span:nth-child(1){
    left: 83%;
  }
}
