
/*$color1: rgba(108, 242, 212, 1);
$color2: rgba(35, 240, 199, 1);
$color3: rgba(75, 177, 160, 1);
$color4: rgba(21, 158, 129, 1);
$color5: rgba(15, 112, 94, 1);*/

body{
  margin: 0
}

header{
  position: relative;
}

.slanted-header{
  background:linear-gradient(40deg, rgba(15, 112, 94, 1) 18%, rgba(108, 242, 212, 1) 70%, #00FACA 95% );
  transform: skewY(-12deg);
  transform-origin: 0;
  height: 55vh;
  min-height: 450px;
  width: 100%;
}

.slanted-header span:nth-child(1){
  position: absolute;
  width: 35%;
  height: 20%;
  top: 62%;
  right: -2%;
  background: rgba(108, 242, 212, 1);
}


.slanted-header span:nth-child(2){
  position: absolute;
  width: 300px;
  height: 175px;
  top: -2%;
  left: 0%;
  background: rgba(21, 158, 129, 1);
  display: none;
}

.slanted-header span:nth-child(3){
  position: absolute;
  width: 300px;
  height: 18%;
  transform: rotate(90deg);
  top: -12%;
  left: -15%;
  background: rgba(35, 165, 135, 1);
}

.slanted-header span:nth-child(4){
  position: absolute;
  width: 25%;
  min-width: 300px;
  height: 20%;
  bottom: 0%;
  left: 0%;
  background: rgba(33, 158, 146, 1);
}

.slanted-header span:nth-child(5){
  position: absolute;
  width: 300px;
  height: 20%;
  top: -1%;
  left: 35%;
  background: rgba(35, 165, 135, 1);
  display: none;
}

/*MEDIA QUERYS FOR SLANTED HEADER */
@media screen and (min-width:767px) {

  .slanted-header span:nth-child(2){
    position: absolute;
    width: 300px;
    height: 20%;
    top: 2%;
    left: 15%;
    background: rgba(21, 158, 129, 1);
    display: inline-block;
  }

  .slanted-header span:nth-child(3){
    position: absolute;
    width: 300px;
    height: 18%;
    transform: rotate(0deg);
    top: 0%;
    left: -50px;
    background: rgba(35, 165, 135, 1);
  }

  .slanted-header span:nth-child(5){
    position: absolute;
    width: 300px;
    height: 20%;
    top: 10%;
    left: 45%;
    transform: rotate(-90deg);
    background: rgba(35, 165, 135, 1);
    display: inline-block;
  }

}


@media screen and (min-width:1500px) {

  .slanted-header span:nth-child(2){
    position: absolute;
    width: 300px;
    height: 26%;
    top: 3%;
    left: 8%;
    background: rgba(21, 158, 129, 1);
    display: inline-block;
  }

  .slanted-header span:nth-child(3){
    position: absolute;
    width: 300px;
    height: 22%;
    transform: rotate(0deg);
    top: 12%;
    left: -50px;
    background: rgba(35, 165, 135, 1);
  }

  .slanted-header span:nth-child(5){
    position: absolute;
    width: 300px;
    height: 25%;
    top: 5%;
    left: 25%;
    transform: rotate(-90deg);
    background: rgba(35, 165, 135, 1);
    display: inline-block;
  }

}



header button {
  position: absolute;
  top: 45%;
  left: 20%;
  font-size: 16px;
  text-transform: uppercase;
  background: white;
  border: none;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(33, 158, 146, 1);
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

header button:hover {
  box-shadow: 0 9px 15px rgba(50,50,93,.1), 0 5px 7px rgba(0,0,0,.08);
  transform: translateY(-2px);
}


img{
  width: 100%
}
